<!DOCTYPE html>
<html>
  <head>
    <title>Generate Wallet</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <script src="javascripts/lodash.min.js"></script>
    <script src="javascripts/ripple-0.22.0-min.js"></script>
    <script src="javascripts/qrcode.js"></script>
  </head>
  <body>
    <div class="container">
        <div class="jumbotron text-center">
            <h1 class="display-3">Generate Wallet</h1>
            <p class="lead">Ripple - XRP</p>
            <hr class="my-2">
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <p class="lead">Address</p>
              <div id="adds"></div>
              <div id="qrcodeAddress"></div>
            </div>
            <div class="col-md-6">
              <p class="lead">Secret Key</p>
              <div id="secret"></div>
              <div id="qrcodeSecret"></div>
            </div>
          </div>
        <hr>
        <div class="mt-2 text-center">
          <button type="button" onclick="newRipple()" class="btn btn-primary">Generate new</button>
        </div>
        </div>  
    </div>
    <script>
        var qrcodeAddress = new QRCode(document.getElementById("qrcodeAddress"),{width: 180,height: 180});
        var qrcodeSecret = new QRCode(document.getElementById("qrcodeSecret"),{width: 180, height: 180});
        function newRipple() {

          var api = new ripple.RippleAPI();
          var account = api.generateAddress();
          document.getElementById("adds").innerText = account.address;
          document.getElementById("secret").innerText = account.secret;
          qrcodeAddress.makeCode(account.address);
          qrcodeSecret.makeCode(account.secret);
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
